html, body {

  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
height: 100%
}

a {
  text-decoration: none
}

.logo {
  position: relative;
  width: 14vw;
  height: 7vw;
  background-image: url(./img/logo.svg);
  background-size: cover;
}

.products {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1
}

.p1 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 166px;
  height: 315px;
  background-color: blue;
  /* background: url(images/thank.png);
  background-size: cover */
}

.p2 {
  position: absolute;
  top: 40%;
  left: 80%;
  width: 76px;
  height: 106px;
  background-color: blue;
}

.p3 {
  position: absolute;
  top: 80%;
  left: 20%;
  width: 250px;
  height: 410px;
  background-color: blue;
}

.p4 {
  position:absolute;
  top:10%;
  left:20px;
  width:37px;
  height:158px;
  background-color: blue;
}

.p5 {
  position:absolute;
  top:50%;
  left:50%;
  width:256px;
  height:200px;
  background-color: blue;
}

.p6 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 38px;
  height: 86px;
     background-color: blue;
}

.p7 {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 156px;
  height: 184px;
  background-color: blue;
}

.p8 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 161px;
  height: 161px;
    background-color: blue;
}

.p9 {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 427px;
  height: 522px;
    background-color: blue;
}

.p10 {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 59px;
  height: 137px;
  background-color: blue;
}

.p11 {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 100px;
  height: 100px;
  background-color: blue;
}