html, body {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%
}

a {
  text-decoration: none
}

div,
a {
  position: absolute;
}


.border {
  position: relative;
  width: 97%;
  height: 99%;
  margin: 1vw;
  margin-top: -1%;
  border-radius: 10%;
  border: 0.3vw solid black;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 8%;
  left: 80%;
  width: 14vw;
  height: 7vw;
  background-image: url(./img/logo.svg);
  background-size: cover;
}

.one {
  top: 2%;
  left: 5%;
  background-image: url(./img/metal.png);
  background-size: cover;
  width: 14vw;
  height: 25vw;
}

.two {
  left: 25%;
  top: 15%;
  width: 17.5vw;
  height: 6.8vw;
  background-image: url(./img/rect.svg);
  background-size: cover;
}

.three {
  top: 2%;
  left: 50%;
  background-image: url(./img/coke.png);
  background-size: cover;
  width: 18vw;
  height: 26vw;
}

.four {
  top: 18%;
  left: 70%;
  background-image: url(./img/rec-vert-b.svg);
  background-size: cover;
  width: 7.5vw;
  height: 25.5vw;
}

.five {
  top: 50%;
  left: 80%;
  background-image: url(./img/star-b.svg);
  background-size: cover;
  width: 117px;
  height: 117px;
}

.six {
  top: 30%;
  left: 85%;
  background-image: url(./img/paper.png);
  background-size: cover;
  width: 14vw;
  height: 13vw;
}

.seven {
  top: 38%;
  left: 21%;
  background-image: url(./img/small-papers.png);
  background-size: cover;
  width: 19vw;
  height: 18vw;
}

.eight {
  top: 63%;
  left: 3%;
  background-image: url(./img/star-down.svg);
  background-size: cover;
  width: 17vw;
  height: 17vw;
}

.nine {
  top: 60%;
  left: 21%;
  background-image: url(./img/banana.png);
  background-size: cover;
  width: 27vw;
  height: 24vw;
}

.ten {
  top: 74%;
  left: 62%;
  background-image: url(./img/sirc-b.svg);
  background-size: cover;
  width: 11vw;
  height: 11vw;
}

.eleven {
  top: 71%;
  left: 80%;
  background-image: url(./img/black-s.svg);
  background-size: cover;
  width: 13vw;
  height: 14.5vw;
}

.twelve {
  top: 50%;
  left: 50%;
  background-image: url(./img/rec-blue.svg);
  background-size: cover;
  width: 20vw;
  height: 13vw;
}

.hidden {
  visibility: hidden;
}

/* .new {
  width: 100px;
  height: 100px;
  left: 45%;
  background-color: aqua;
  animation: fall 5s infinite;
  animation-delay: 3s;
}

@keyframes fall {
 0% {
   top: -30%;
 }
 100% {
   top: 10%;
 }
} */


