html, body {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none
}

div {
  position: absolute;
}

.border {
  position: relative;
  width: 97%;
  height: 99%;
  margin: 1vw;
  margin-top: -1%;
  border-radius: 10%;
  border: 0.3vw solid black;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 8%;
  left: 80%;
  width: 14vw;
  height: 7vw;
  z-index: 9;
  background-image: url(./img/logo.svg);
  background-size: cover;
  cursor: pointer;
}

.gravity {
  cursor: grab;
}

.metal {
  top: 2%;
  left: 5%;
  background-image: url(./img/metal.png);
  background-size: cover;
  width: 14vw;
  height: 25vw;
}

.can{
  top: 2%;
  left: 50%;
  background-image: url(./img/coke.png);
  background-size: cover;
  width: 18vw;
  height: 26vw;
}

.paper {
  top: 30%;
  left: 85%;
  background-image: url(./img/paper.png);
  background-size: cover;
  width: 14vw;
  height: 13vw;
}

.small-paper {
  top: 38%;
  left: 21%;
  background-image: url(./img/small-papers.png);
  background-size: cover;
  width: 19vw;
  height: 18vw;
}

.banana {
  top: 60%;
  left: 21%;
  background-image: url(./img/banana.png);
  background-size: cover;
  width: 27vw;
  height: 24vw;
}


.new,
.new__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.new {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

.new__container {
  position: relative;
}

.new__container img {
  position: absolute;
}
.new__container img:hover {
  box-shadow: 4px 4px 13px #0250E9;
}

.new1 {
  left: 19vw;
  top: -0.5vw;
  z-index: 5;
}

.new2 {
  transform: scale(1.5);
  left: 4vw;
  top: 4.5vw;
}

.new3 {
  left: 18vw;
  top: 8.5vw;
}

.new4 {
  left: 29vw;
  top: 3.5vw;
}

.new5 {
  left: 42vw;
  top: 3vw;
}

.new6 {
  left: 57vw;
  top: 5vw;
  z-index: 5;
}

.new7 {
  left: 65vw;
  top: 1vw;
}

.new8 {
  transform: scale(0.7) rotate(84deg);
  left: -3vw;
  top: 20vw;
}

.new9 {
  top: 20vw;
  left: 8vw;
  z-index: 5;
}

.new10 {
  top: 14vw;
  left: 26vw;
}


.new11 {
  left: 54vw;
  top: 13vw;
}

.new12 {
  left: 63vw;
  top: 10vw;
}

.new13 {
  left: 84vw;
  top: 13vw;
}

.new14 {
 left: 3vw;
 top: 23vw;
} 

.new15-1 {
  left: 13vw;
  top: 41vw;
}

.new15 {
  left: 13vw;
  top: 31vw;
}

.new16 {
  position: absolute;
  bottom: 21%;
  right: 54%;
  width: 22vw;
  height: 22vw;
  z-index: 4;
}

.about_img {
  width: 17vw;
  height: 17vw;
  left: 13%;
  top: 11%;
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  0%{
   transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.new17 {
  bottom: 20%;
  right: 42%;
}

.new18 {
  bottom: 36%;
  right: 32%;
}

.new19 {
  bottom: 32%;
  right: 23%;
}

.new19-1 {
  bottom: 18%;
  right: 19%;
}

.new20 {
  bottom: 31%;
  right: 13%;
}

.new21 {
  bottom: 1%;
  left: 9%;
}

.new22 {
  bottom: 2%;
  left: 21%;
  z-index: 5;
}

.new23 {
  bottom: -1%;
  right: 44%;
}

.new24 {
  bottom: 3%;
  right: 32%;
}

.new25 {
  bottom: 3%;
  right: 19%;
}

.new26 {
  right: 3%;
  bottom: 5%;
}


@media (max-width: 768px) {

  .logo {
    top: 5%;
    left: 74%;
    width: 20vw;
    height: 10vw;
  }
 
  .new20,
  .new7,
  .new10,
  .new21,
  .new22,
  .new23,
  .new24,
  .new25,
  .new26 {
    display:none;
  }

  .new19-1 {
    bottom: -14px;
    right: 23%;
    transform: scale(0.9) rotate(-13deg);
  }

  .new19 {
    bottom: 11%;
    right: 26%;
  }

  .new18 {
    bottom: 27%;
    right: 1%;
  }

  .new17 {
    transform: scale(0.9);
    bottom: 0;
    right: 3%;
  }

  .new16 {
    transform: scale(0.9);
    left: 36vw;
    top: 57vw;
  }

  .new15-1 {
    left: 39vw;
    top: 100vw;
  }

  .new15 {
    left: 15vw;
    top: 73vw;
  }

  .new14 {
    left: 2vw;
    top: 39vw;
  }

  .new13 {
    left: 78vw;
    top: 20vw;
  }

  .new12 {
    left: 1vw;
    top: 87vw;
  }

  .about_img {
    width: 20vw;
    height: 20vw;
    left: 46%;
    top: 46%;
  }

  .new11 {
    left: 62vw;
    top: 39vw;
    transform: rotate(-59deg);
  }

  .new9 {
    top: 56vw;
    left: 8vw;
  }

  .new6 {
    left: 67vw;
    top: 31vw;
  }

  .new5 {
    left: 18vw;
    top: 27vw;
  }

  .new4 {
    left: 44vw;
    top: 10.5vw;
    transform: scale(1.3)rotate(45deg);
  }

  .new3 {
    left: 40vw;
    top: 42.5vw;
  }

  .new2 {
    transform: scale(1);
    left: 4vw;
    top: 0.5vw;
  }
  .new1 {
    left: 23vw;
    top: 6.5vw;
  }
}
 

@media (max-width: 415px) {
  .new__container {
    transform: scale(0.99);
  }

  .new20,
  .new7,
  .new10,
  .new22,
  .new23,
  .new25,
  .ne12,
  .new26 {
    display: block;
  }

  .new22 {
    bottom: 17%;
    left: 21%;
  }

  .new17 {
    bottom: -11%;
    right: -5%;
  }

  .new19-1 {
    bottom: -6%;
    right: 8%;
  }

  .new19 {
    bottom: 5%;
    right: 21%;
  }

  .new16 {
    left: 4vw;
    top: 54vw;
  }

  .new15 {
    left: 3vw;
    top: 76vw;
  }

  .new15-1 {
    left: 29vw;
    top: 103vw;
  }

  .new14 {
    left: -6vw;
    top: 29vw;
  }

  .new8 {
    left: -13vw;
    top: 26vw;
  }

  .new2 {
    left: -10vw;
    top: -4.5vw;
  }

  .new12 {
    left: 13vw;
    top: 26vw;
  }

  .new26 {
    right: -12%;
    bottom: 16%;
  }

  .new25 {
    bottom: 16%;
    right: 18%;
  }

  .new9 {
    top: 62vw;
    left: -1vw;
  }

  .new5 {
    left: 9vw;
    top: 10vw;
  }

  .new11 {
    left: 62vw;
    top: 30vw;
  }

  .new13 {
    left: 70vw;
    top: -4vw;
  }
  .new4 {
    left: 36vw;
    top: -10.5vw;
  }
  .new6 {
    left: 62vw;
    top: 23vw;
  }

  .new17 {
    bottom: 1%;
  }

  .new19-1 {
    bottom: 1%;
  }

  .about_img {
    width: 50vw;
    height: 50vw;
  }


}




